
/*NULL-style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #535878;
}

#dendograme {
  position: relative;
  height: 80%;
  aspect-ratio: 4/3;
  border: 2px solid black;
  padding: 2px;
  z-index: 0;
}

.branch {
  padding-left: 1px;
  font-size: 12px;
  position: absolute;
  border: 2px solid black;
  border-bottom: none;
  background-color: #535878;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 90%;
  top: -88%;
  background-color: #7688a5;
  z-index: 1;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

#open_close {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 20px);
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: #7688a5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#open_close::before {
  content: "";
  position: absolute;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url(sourse/arrow_icon.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#rowsXcolumns {
  position: absolute;
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#rowsXcolumns input {
  height: 16px;
  aspect-ratio: 4/3;
  margin: 0 4px;
  text-align: center;
}
#rowsXcolumns p {
  font-size: 20px;
}
#rowsXcolumns::before {
  content: "(максимальна розмірність 10х10)";
  position: absolute;
  bottom: -90%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 10px;
  color: rgba(0, 0, 0, 0);
}
#rowsXcolumns:hover::before {
  color: rgba(0, 0, 0, 0.815);
}

.acceptButton {
  width: 20px;
  aspect-ratio: 1/1;
  background-image: url(sourse/accept_icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  margin-left: 10px;
}

#dataInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-44px);
          transform: translate(-44px);
}
#dataInput input {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
  margin: 4px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  width: 38px;
  aspect-ratio: 4/3;
}

.identifier {
  height: 28.5px;
  width: 76px;
}

#createTree {
  position: absolute;
  bottom: 40px;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #535878;
  color: #d1d1d1;
}