/*NULL-style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #538576;
}
#dendograme-area {
  position: relative;
  height: 80%;
  aspect-ratio: 4/3;
  border: 2px solid black;
  padding: 2px;
  z-index: 0;
}
.branch {
  padding-left: 1px;
  font-size: 12px;
  position: absolute;
  border: 2px solid black;
  border-bottom: none;
  background-color: #538576;
  color: #ffffff;
}
.input-data__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90%;
  top: -88%;
  background-color: #1e613a;
  z-index: 1;
  transition-duration: 800ms;
}
#open-close__button {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 20px);
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: #1e613a;
  transform: rotate(45deg);
  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    width: 50px;
    aspect-ratio: 1/1;
    background-image: url(sourse/arrow_icon.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    transform: rotate(-135deg);
  }
}
#rowsXcolumns {
  position: absolute;
  top: 2px;
  display: flex;
  align-items: center;
  input {
    height: 16px;
    aspect-ratio: 4/3;
    margin: 0 4px;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  &::before {
    content: "(максимальна розмірність 10х10)";
    position: absolute;
    bottom: -90%;
    left: 50%;
    transform: translate(-50%);
    font-size: 10px;
    color: #00000000;
  }
  &:hover::before {
    color: rgba(0, 0, 0, 0.815);
  }
}
.get-rows-columns__button {
  width: 20px;
  aspect-ratio: 1/1;
  background-image: url(sourse/accept_icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  margin-left: 10px;
}
#data__inputs {
  display: flex;
  width: fit-content;
  height: fit-content;
  transform: translate(-44px);
  input {
    text-align: center;
    background-color: #ffffff00;
    border: 1px solid black;
    margin: 4px;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  width: 38px;
  aspect-ratio: 4/3;
}
.identifier {
  height: calc(38px * 3 / 4);
  width: 76px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 2px;
  background-color: #00000000;
  padding: 8px;
  input {
    width: 50px;
    padding: 2px;
    border-radius: 4px;
  }
  button {
    transition-duration: 500ms;
    right: 10px;
    bottom: 50%;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #124326;
    color: #ffffff;
  }
}
.radio-button {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  div {
    display: flex;
  }
}
.distance-axis {
  font-size: 12px;
  width: fit-content;
  position: absolute;
  left: 0;
  transform: translate(-95%);
}
